body {
    background-color: #121212 !important;
    color: #fff;
}
.logo-header {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.logo-header img {
    height: 24px;
}
.text-logo {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 6px;
}
.home-header {
    display: flex;
    align-items: center;
}
.title-header {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
}
.search-header {
    margin-top: 12px;
}
.header-sidebar {
    padding: 26px 30px;
    background-color: #212121;
    border-radius: 8px;
}
.menu-sidebar {
    margin-top: 24px;
    border-radius: 8px;
    background-color: #212121;
    padding : 12px;
    max-height: 600px;
    overflow-y: auto;

}
.text-menu-sidebar {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 12px;
}
.left-header-sidebar {
    display: flex;
    align-items: center;
}
.header-menu-sidebar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.list-menu-item span {
    color: #fff;
    font-size: 14px;
}
.list-menu {
    justify-content: space-between;
    margin-top: 12px;
}
.list-menu-item {
    padding: 6px 14px;
    background-color: #212121;
    border-radius: 20px;
}
.text-filter {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-right: 12px;
}
.search-filter-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.filter-menu {
    display: flex;
    align-items: center;
}
.liked-song {
    display: flex;
    margin-top: 12px;
}
.liked-song-result {
    display: flex;
    margin-top: 12px;
}
.text-common {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.sub-text-common {
    font-size: 12px;
    font-weight: 300;
    color: #c9c9c9;
}
.text-liked-song {
    display: grid;
    margin-left: 12px;
}
.navbar-header {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    align-items: center;
    padding : 12px;
}
.register-right-navbar {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 12px;
}
.login-right-navbar {
    font-size: 18px;
    font-weight: 600;
    padding: 12px;
    border-radius: 20px;
    background-color: #fff;
    text-decoration: none;
}
.bottom-left-sidebar {
    display: grid;
    padding: 30px;
}
.content-bottom {
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--text-subdued, #6a6a6a);;
}
.right-header-playlist {
    display: grid;
    align-content: center;
    margin-left: 12px;
}
.header-playlist {
    display: flex;
    padding: 48px;
}
.header-playlist img {
    box-shadow: 20px 20px 42px rgba(0, 0, 0, 0.5);
}
.body-list {
    padding: 48px;
}


.area-play-song {
    height: 100px;
    background-color: #000;
    padding-right: 0px !important;
    padding-left: 0px !important;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}
.left-area-play {
    display: flex;
    margin-left: 24px;
}
.name-song-artist {
    display: grid;
    color: #fff;
    margin-left: 12px;
    align-content: center;
}
.name-song-artist span {
    display: flex;
}
.play-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.image-container:hover .play-button {
    opacity: 1;
}
.play-button img {
    border: none;
    cursor: pointer;
}
.image-container {
    position: relative;
    display: inline-block;
}
.liked-song {
    width: 300px; /* Adjust the size as needed */
    height: auto;
}

.modal-new {
    opacity: 0;
    display: block;
    position: absolute;
    top: -10px;
    left: -70px;
    width: 200px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    text-align: center;
    /* padding-top: 30%; */
    box-sizing: border-box;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.image-container:hover .modal-new {
    opacity: 1;
}


.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.125em 0;
    border-radius: 0.5em;
    width: 100%;
  }
  
  .action-btn {
    /* background-color: #fff; */
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    /* border-radius: 0.5em; */
    /* color: #dfdbdf; */
    color: #fff;
    /* color: goldenrod; */
    font-size: 0.875rem;
    width: 2em;
    cursor: pointer;
    /* margin: 0.5em; */
    margin: 0 0.5em;
    padding: 0.5em 0.25em;
    /* padding-left: 0.25em; */
  }
  
  .action-btn.action-btn-big {
    /* color: #cdc2d0; */
    color: #fff;
    /* color: goldenrod; */
    font-size: 0.95rem;
  }
  
  /* .action-btn:focus, */
  .action-btn:hover {
    outline: 0;
    /* color: #fff; */
    color: goldenrod;
  }
  
  .speaker {
    margin-right: -1.25em;
    color: #fff;
    /* text-align: left; */
    /* color: goldenrod; */
  }
  /* .player_button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px;
    font-size: 1rem;
  }
  .player_button:focus,
  .player_button:hover {
    border-color: #ffc600;
    border-color: blue;
  } */
  
  .music-info {
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-radius: 1em 1em 0 0;
    position: absolute;
    top: 0;
    left: 1.25em;
    width: calc(100% - 40px);
    /* width: 100%; */
    /* margin: 0 auto; */
    padding: 0.25em 0.5em 0.25em;
    text-align: center;
    /* opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0; */
  }
  
  /* .music-info .vol-controls {
    text-align: left;
    padding: 0.25em 0 0.25em;
  } */
  
  /* .music-container.play .music-info { */
  .music-container .music-info {
    opacity: 1;
    transform: translateY(-150%);
    background-color: rgb(73, 144, 104);
    border: 0.125em solid black;
  }
  
  .music-info h4 {
    color: #fff;
    font-weight: bold;
    margin: 0.5em;
    /* padding: 0 0 0 0.125em; */
    text-align: center;
    font-size: 1.25rem;
  }
  
  .progress-container {
    background: #fff;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 0.5em;
    /* padding-bottom: 0.25em; */
    height: 0.25em;
    width: 95%;
  }
  
  .progress {
    background-color: #fe8daa;
    border-radius: 0.25em;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
  
  .player_slider {
    width: 0.75rem;
    height: 3rem;
  }
  
  input[type='range'] {
    background: transparent;
    width: 30%;
    margin: 0 20px;
  }
  input[type='range']:focus {
    outline: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
input[type='range']::-webkit-slider-thumb {
    height: 0.75em;
    width: 1em;
    border-radius: 0.25em;
    background: goldenrod;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
    box-shadow: 0 0 2px rgb(15, 14, 80);
}
input[type='range']::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type='range']::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 12px;
    width: 17px;
    border-radius: 50px;
    background: #fe8daa;
    cursor: pointer;
}
  
.time {
    color: #fff;
    font-size: 0.9rem;
    padding-right: 0.25em;
    /* had to add that to stop the width shifting from NaN */
    /* width: 6em; */
}