body {
    background-color: #121212 !important;
    color: #fff;
}
.logo-header {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.logo-header img {
    height: 24px;
}
.text-logo {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 6px;
}
.home-header {
    display: flex;
    align-items: center;
}
.title-header {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
}
.search-header {
    margin-top: 12px;
}
.header-sidebar {
    padding: 26px 30px;
    background-color: #212121;
    border-radius: 8px;
}
.menu-sidebar {
    margin-top: 24px;
    border-radius: 8px;
    background-color: #212121;
    padding : 12px;
    max-height: 600px;
    overflow-y: auto;

}
.text-menu-sidebar {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 12px;
}
.left-header-sidebar {
    display: flex;
    align-items: center;
}
.header-menu-sidebar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.list-menu-item span {
    color: #fff;
    font-size: 14px;
}
.list-menu {
    justify-content: space-between;
    margin-top: 12px;
}
.list-menu-item {
    padding: 6px 14px;
    background-color: #212121;
    border-radius: 20px;
}
.text-filter {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-right: 12px;
}
.search-filter-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding-left : 8px;
}
.filter-menu {
    display: flex;
    align-items: center;
}
.liked-song-result {
  display: flex;
  margin-top: 12px;
}
.liked-song {
    display: flex;
    margin-top: 12px;
    padding-left : 8px;
}
.text-common {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.sub-text-common {
    font-size: 12px;
    font-weight: 300;
    color: #c9c9c9;
}
.text-liked-song {
    display: grid;
    margin-left: 12px;
}
.navbar-header {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    align-items: center;
    padding : 12px;
}
.register-right-navbar {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 12px;
}
.avatar-input {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0px 0px 50px 0px #000;
}
.avatar-input__label {
    box-shadow: 0 20px 25px -5px var(--shadow-color),
      0 8px 10px -6px var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    transition: 0.4s ease all;
    overflow: hidden;
    background-color: #00000024;
    cursor: pointer;
    z-index: 1;
  }
  
  .avatar-input--dragover,
  .avatar-input--uploading,
  .avatar-input--success,
  .avatar-input:active {
    transform: scale(0.9);
  }
  
  .avatar-input:active .avatar-input__label {
    box-shadow: none;
  }
  
  .avatar-input--dragover .avatar-input__label,
  .avatar-input--uploading .avatar-input__label,
  .avatar-input--success .avatar-input__label {
    box-shadow: none;
    filter: brightness(0.5);
  }
  
  .avatar-input__input {
    display: none;
  }
  
  .avatar-input__icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    color: var(--input-icon-color);
    background: var(--input-bg-color);
    transition: 0.2s ease all;
  }
  
  .avatar-input__icon svg {
    position: relative;
    padding: 12px;
    color: #b3b3b3;
  }
  
  .avatar-input__preview {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.2s ease all;
    transform: scale(1.05);
  }
  
  .avatar-input__outline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke-opacity: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: var(--outline-color);
    stroke-dasharray: var(--outline-total-stroke) var(--outline-stroke-offset);
    stroke-dashoffset: var(--outline-total-stroke);
    transition: 0.05s linear all;
    pointer-events: none;
  }
  
  .avatar-input--uploading .avatar-input__outline,
  .avatar-input--success .avatar-input__outline {
    stroke-opacity: 1;
  }
  
  .avatar-input--uploading .avatar-input__percentage {
    opacity: 1;
  }
  
  .avatar-input__percentage {
    position: absolute;
    opacity: 0;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    transition: 0.25s ease opacity;
    pointer-events: none;
  }
  
  .avatar-input__success {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: 0.25s ease opacity;
    width: 40%;
    pointer-events: none;
  }
  
  .avatar-input__success-icon {
    stroke-dasharray: var(--check-total-stroke) var(--check-total-stroke);
    stroke-dashoffset: var(--check-stroke-offset);
    opacity: 0;
    transition: 0.4s ease all;
    transition-delay: 100ms;
    color: var(--check-color);
  }
  
  .avatar-input--success .avatar-input__success-icon {
    opacity: 1;
  }
  .header-artist {
    padding: 40px 0px 40px 40px;
  }
  .right-header-artist {
    display: grid;
    align-content: center;
    margin-left: 12px;
}
.content-profile {
  padding: 64px 24px;
}